@font-face {
    font-family: "Bold-Font";
    src: url("../fonts/theboldfont.ttf");
}

body {
    height: 100%;
    background: #D9B310;
}

.intro-section {
    padding: 5rem;
}

.intro-section span {
    display: flex;
}

h2 {
    font-family: 'Bold-Font';
    letter-spacing: 1rem;
    font-size: 7rem;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 2rem;
}

.intro #first-text {
    margin-right: 0.5rem;
    color: white;
    margin-right: 2rem;
    word-spacing: -1.5rem;
}

.name {
    color: #D72638;
}